 *{margin: 0;padding: 0;}
/* line 2, ../sass/cmt.scss */
.zp-dialog {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 990;
}

/* line 12, ../sass/cmt.scss */
.zp-dialog-inner {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 5.367rem;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  -moz-border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  border-radius: 0.2rem;
  background-color: #da2f34;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  text-align: center;
  font-size: .273rem;
}
/* line 24, ../sass/cmt.scss */
.zp-dialog-inner .zp-content {
  padding: 0.5rem .5rem;
  -moz-border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  border-radius: 0.2rem;
  background-color: #fff;
}
/* line 29, ../sass/cmt.scss */
.zp-dialog-inner a {
  display: block;
  overflow: hidden;
  line-height: .8rem;
  color: #fff;
}

/* line 36, ../sass/cmt.scss */
.zp-dialog-anim {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

/* line 39, ../sass/cmt.scss */
.zp-pwd {
  display: -moz-box;
  display: -webkit-box;
  display: box;
  -moz-box-orient: row;
  -webkit-box-orient: row;
  box-orient: row;
  border: 1px solid #eee;
}
/* line 47, ../sass/cmt.scss */
.zp-pwd li {
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
  border-right: 1px solid #eee;
  height: .62rem;
  overflow: hidden;
}
/* line 54, ../sass/cmt.scss */
.zp-pwd li:last-child {
  border-right: 0;
}

/* line 59, ../sass/cmt.scss */
.zp-pwd-num {
  width: 100%;
  text-align: center;
  font-size: .5rem;
}

/* line 64, ../sass/cmt.scss */
.multiinner {
  background-color: transparent;
  overflow: hidden;
}

/* line 68, ../sass/cmt.scss */
.multiContent {
  width: 99.5%;
  padding: 1.158rem 0;
}

/* line 72, ../sass/cmt.scss */
.multiBtnBg .sure-btn {
  width: 50%;
  float: left;
  height: 100%;
  line-height: 1.1rem;
  box-sizing: border-box;
}
.multiBtnBg .sure-btn:last-of-type{ border-left: 1px solid #ccc;}
/* line 77, ../sass/cmt.scss */
.multiBtnBg {
  position: relative;
  bottom: .25rem;
  width: 100%;
  height: 1rem;
  -webkit-border-radius:0 0 .2rem .2rem;
  border-radius: 0 0 .2rem .2rem;
  text-align: center;
  background: url(/content/assets/ext/multibtn.png) no-repeat -1px 0;
  background-size: 100%;
  background: #da2f34
}
.page-header{
    position: fixed;
    z-index: 10000;
    top: 0;
    width: 100%;
    height: 48px;
    color: #fff;
    background-color: #da2f34;
}
.page-header h3 {
    font-size: 16px;
    line-height: 48px;
    text-align: center;
    position: relative;
}

.page-header a {
    color: #fff;
    position: absolute;
    top: -2px;
    left: 10px;
    z-index: 10001;
    display: block;
    width: 25px;
    height: 50px;
    background: url(/account/img/back.png) center no-repeat;
    background-size: 50% 50%;
}

.page-content{
  padding:48px 0 0 0;
  height: 100%;

}
