img,legend {
	border: 0
}

*,:after,:before,a {
	background-color: transparent
}

*,:after,:before,html {
	-webkit-text-size-adjust: 100%
}

:focus,a:active,a:hover {
	outline: 0
}

a,html {
	color: #333
}

body,sub,sup {
	position: relative
}

dd,dl,legend,ol,td,th,ul {
	padding: 0
}

.clearfix,.jiathis_style_m {
	zoom: 1
}

.button,.empty-tips,.icon-help,.icon-unread,.page-footer li,.page-header h3 {
	text-align: center
}

.button,.input {
	min-width: .5rem
}

html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%
}
html {
	font-size: 625%;
	background-color: #efefef;
}

body,html {
	width: 100%;
	overflow-x: hidden
}

body {
	margin: 0;
	font: 14px/1.5 Microsoft YaHei,Arial,Verdana,Sans-serif,arial,tahoma,sans-serif,"\5B8B\4F53";
}


@media all and (max-width:320px) {
	body {
		font-size: 12px
	}
}

dd,dl,ol,ul {
	list-style: none;
	margin: 0
}

h1,h2,h3,h4,h5,h6,p {
	margin: 0;
	font-weight: 400;

}
a,label,input,p,span,em,li{	font-size:.12rem;}
em,strong {
	font-style: normal;
	font-weight: 400
}

button,input,select,textarea {
	font-size: 100%;
	font-family: inherit
}

input::-moz-placeholder,input::-ms-input-placeholder,input::-webkit-input-placeholder,textarea::-moz-placeholder,textarea::-ms-input-placeholder,textarea::-webkit-input-placeholder {
	color: #ccc
}

svg {
	margin: 0
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden
}

.hide {
	display: none!important
}

.left {
	float: left
}

.right {
	float: right
}
.page-header {
	width: 100%;
	height: .5rem;
	color: #fff;
	background-color: #da2f34;
	position: relative;
}

.page-header h3 {
	font-size: .16rem;
	line-height: .4rem
}
.page-header>span{
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -.25rem;
	bottom: 0;
}
.page-header>span:before{
	content: '';
	width: 0;
    height: 0;
    border-left: .05rem solid transparent;
    border-right: .05rem solid transparent;
    border-top: .06rem solid #fff;
    position: absolute;
    right: -.1rem;
    top: .06rem;
}
.page-header .left a {
	display: block;
	margin-left: .1rem
}
.page-header .pro-list{
	width: 100%;
	background: #fff;
	z-index: 10001;
	position: absolute;
	opacity: 1;
    top: .5rem;
    -webkit-transform: translate(0,-10rem);
    -moz-transform: translate(0,-10rem);
    -ms-transform: translate(0,-10rem);
    -o-transform: translate(0,-10rem);
    transform: translate(0,-10rem);
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.page-header .pro-list-show{
	opacity: 1;
    -webkit-transform: translate(0,0);
    -moz-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
}
.page-header .pro-list li{
	width: 100%;
	min-height: .6rem;
	border-bottom: 1px solid #ddd;
}
.page-header .pro-list li .tx{
	display: inline-block;
	width: 20%;
	vertical-align: middle;
}
.page-header .pro-list li .tx img{
	width: .4rem;
	height: .4rem;
	border-radius: .2rem;
	display: block;
	margin: .1rem auto;
}
.page-header .pro-list li span{
	display: inline-block;
	color:#363636;
	font-size:.16rem;
	vertical-align: middle;
	width: 20%;
}
.page-header .pro-list li span.tname{
	line-height: .6rem;
}
.page-header .pro-list li .times{
	display: inline-block;
	width: 35%;
	height: 100%;
	text-align: center;
	color:#DA2F34;
}

.page-header .left a.go-back {
	margin-left: 0;
	padding-left: .14rem;
	padding-right: .1rem
}

.page-header .right {
	margin-right: .2rem
}

.none{
	-webkit-transition:opacity 0.5s 1s; 
	opacity:0;
	pointer-events:none;
}

.page-header .left,.page-header .right {
	margin-top: -.5rem;
	height: .5rem;
	line-height: .5rem;
	color: #fff;
	font-size: .14rem
}
.page-header .right{
	line-height: .6rem;
}
.page-header .back {
    color: #fff;
    position: absolute;
    top: -2px;
    z-index: 10001;
    display: block;
    width: 25px;
    height: 50px;
    background: url(../account/img/back.png) center no-repeat;
    background-size: 50% 50%;
}
.page-header .right a{
	color: #fff;
	text-decoration: none;
}
.player{
	width:100%;
	height:2rem;
	position: relative;
}
.container{
	overflow: scroll;
	height: 3rem;
	padding-bottom: .6rem;
}
.comment{
	padding: .1rem;
}
.comment>div{
	margin-top: .15rem;
	clear: both;
	max-width: 100%;
	word-wrap: break-word;
}
.comment>div:first-child{
	margin-top: 0;
}
.comment>div>span{
	color: #969696;
	font-size: .12rem;
	display: block;
	line-height: .2rem;
}
.cont{
	padding: .08rem;
	background:#fff;
	border-radius: 0 .08rem .08rem .08rem;
	position: relative;
	margin-left: .05rem;
}
div.admin{
	background: none;
	border: 1px solid #da2f34;
	border-radius: 0 .08rem .08rem .08rem;
}
.comment div span.admin{
	color:#da2f34;
}
.mine{
	background: #f0d8d8;
	border-radius: .08rem 0  .08rem .08rem;
}
.arrow{
	position: absolute;
	top: 0;
	width: .1rem;
	height: .18rem;
    
}
.arrow-write{
	left: -.06rem;
	background: url(img/1.png) center no-repeat;
}
.arrow-admin{
	left: -.06rem;
	background: url(img/2.png) center no-repeat;
	background-size: 80%;
	margin-top: -.03rem;
    margin-left: -.03rem;
}
.arrow-mine{
	right: -.06rem;
	background: url(img/3.png) center no-repeat;
}
.cont p{
	color: #333;
	font-size: .14rem;
}
.cont p>img{
	display: block;
	width: 100%;
}
.footer{
	position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    height: 39px;
    border-top: 1px solid #cacaca;
    font-size: 12px;
    background: #fff;
    padding: .05rem .1rem;

    display: -webkit-flex; 
}
.footer input{
	border: 1px solid #cacaca;
    -webkit-flex: 4;

	height: 30px;
	border-radius: .02rem;
	display: inline-block;
	vertical-align: top;
	margin-top: .02rem;
	background: none;
}
.footer .send{
	display: inline-block;
	text-decoration: none;
	font-size: .18rem;
	color: #999;
	line-height: .39rem;
	text-align: center;

	-webkit-flex: 1;

}
.preloader {

	z-index: 0;
	color: #999;
	text-align: center;
	line-height: .3rem;
	height: .3rem;
	width: 100%;
	opacity: 0;
	font-size: .14rem;
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	-ms-transition: 300ms;
	-o-transition: 300ms;
	transition: 300ms;
}
.preloader.visible {
	opacity: 1;
}
.zp-dialog,.backDialog {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1001;
}

.zp-dialog-inner,.backDialogCon {
  position: absolute;
  top: 30%;
  left: 10%;
  width: 80%;
  border-radius: 6px;
  background-color: #da2f34;
  text-align: center;
  font-size: 14px;
}
.zp-dialog-inner .zp-content {
  padding: 45px 10px;
  border-radius: 6px;
  background-color: #fff;
}

.zp-btnbox{
    height: 45px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.zp-btn{
    border-right: 1px solid #999;
}
.zp-dialog-inner a {
  display: block;
  overflow: hidden;
  line-height: 45px;
  color: #fff;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    text-align: center;
    height: 100%;
    text-decoration: none;
}
.tip{
	width: .6rem;
	position: fixed;
	bottom: .6rem;
	line-height: .25rem;
	font-size: .12rem;
	border-radius: .08rem;
	background: #f0d8d8;
	text-align: center;
	right: .1rem;
	z-index: 101;
}


.ullist{height:40px;line-height:40px;text-align:center;padding:0px;width:100%;border-bottom:1px solid #e3e3e3;color:#e3e3e3;}
.ullist li{float:left;width:50%;color: #333;}
.ullist li.active{height:38px;line-height:38px;border-bottom:2px solid #da2f34;color:#da2f34;}
.time{
	padding-left: .1rem;
	line-height: .24rem;
	color: #333;
}
.time-con{
	padding: .1rem;
	overflow-x: hidden;
	padding-bottom: .6rem;
}
.time-con h3{
	font-size: .14rem;
    padding-left: .1rem;
    padding-top: .3rem;
}
.teacher-details{
	display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1001;
    display: none;
}
.teacher-details-inner{
	position: absolute;
    top: 30%;
    left: 15%;
    width: 60%;
    padding:.15rem; 
    border-radius: 6px;
    background-color: #fff;
    text-align: center;
    font-size: 14px;
}
.teacher-details .name{
	width: 100%;
	position: relative;
	padding-bottom: .1rem;
	border-bottom: 1px solid #ccc;
}
.teacher-details .name>img{
	display: block;
	float: left;
	width: .4rem;
	height: .4rem;
	border-radius: .2rem;
}
.teacher-details .name h4{
	float: left;
	font-size: .16rem;
	line-height: .4rem;
	padding-left: .2rem;
	color: #333;
}
.teacher-details .name a{
	display: block;
	position: absolute;
	width: .15rem;
	height: .15rem;
	top: 0rem;
	right: .05rem;
}
.teacher-details .name a>img{
	display: block;
	width: 100%;
}
.teacher-tx{
	width: .4rem;
	height: .4rem;
	position: absolute;
	z-index: 900;
	top: .6rem;
	left: .1rem;
}
.teacher-tx img{
	display: block;
	border-radius: 2rem;
	width: 100%;
	height: 100%;
}
.teacher-details-inner div{
	margin: .1rem 0;
}
.teacher-details-inner div>span{
	display: block;
	float: left;
	padding: 0 .02rem;
	font-size: .14rem;
	color: #fff;
	background: red;
}
.teacher-details-inner div>p{
	font-size: .14rem;
	color: #333;
	line-height: .2rem;
	text-align: left;
	width: 80%;
	float:right;
}
.order{
	width: 70%;
	padding: .05rem;
	background: rgba(255, 255, 255, 0.7);
	position: absolute;
	min-height: .3rem;
	left: .6rem;
	top: .6rem;
	border-radius: .08rem;
	z-index: 900;
	-webkit-transition: .3s linear;
	-moz-transition: .3s linear;
	transition: .3s linear;
	opacity: 0;
}
.order-curr{
	opacity: 1;
	-webkit-transform: rotate(360deg) scale(1); 
}
.order:before{
	content: '';
	width: 0;
    height: 0;
    border-top: .05rem solid transparent;
    border-bottom: .05rem solid transparent;
    border-right: .06rem solid #d2d1d1;
    position: absolute;
    left: -.06rem;
    top: .1rem;
}
.order-close{
	display: block;
	height: .3rem;
	position: absolute;
	color: #fff;
	font-size: .12rem;
	right:0;
	line-height: .3rem;
	bottom: -.3rem;
	text-decoration: none;
}
.order-close img{
	display: inline-block;
	width: 15px;
	margin-right: .02rem;
	vertical-align: middle;
}
#Mask{ width: 100%; height: 100%; position: absolute; top: 0; left: 0; background: black; z-index: 10; display: none;}
#Mask .content{ width: 80%; height: 70%; border: 1px solid #FFF; color: #FFF; margin: 0.3rem 10%; font-size: 0.14rem; overflow: hidden;}
#Mask .content .p1{ text-align: center; font-size: 0.18rem; padding: 0.1rem 0; font-weight: bold; color: #fed82b; letter-spacing: 2px;}
#Mask .content .p2{ width: 88%; margin: 0 auto !important;}
