html, body, div, h1, h3, table{
	color: #333;
}
.content {
    background-color: #edf0f5;
}
table{
	color: #999;
	border: 1px solid #ccc;
}
tr{
	border: 1px solid #ccc;
}
td{
	color: #333;
}
tr:nth-child(odd) td:first-child {
    background-color: #DBDBDB;
}
tr:nth-child(even) td:first-child {
    background-color: #CBC8C8;
}
h3 {
    background: #4471bc;
    color: #fff;
}
.page-header{
    position: fixed;
    z-index: 10000;
    top: 0;
    width: 100%;
    height: 48px;
    color: #fff;
    background-color: #4471bc;
}
.page-header h5 {
    font-size: 16px;
    line-height: 48px;
    text-align: center;
    position: relative;
    margin: 0;
}

.page-header a {
    color: #fff;
    position: absolute;
    top: -2px;
    left: 10px;
    z-index: 10001;
    display: block;
    width: 25px;
    height: 48px;
    background: url(http://stock.cainiu.com/account/img/back.png) center no-repeat;
    background-size: 50% 50%;
}
.content{
	margin-top: 48px;
}
